

{% extends 'bootstrap/base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
{% include '_messages.html' %}
<title>Reset Password</title>
<h1>Reset Password</h1>
<div class="container" style="color: #000000; width:50%;"> 
    <h1 style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Registered email address</h1>
    <div class="row">
        <div class="col-md-14">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}