<div class="container" >
    <div class="card" style="display: flex; justify-content: left; float:left; 
    border-radius: 20px; border: 1px solid #d2d5d6; max-width: 800px; min-width:200px; margin: 0px 0px 10px 0px">
        <div class= "card-img" style="margin: 10px 0px 0px 10px">
        <a href="{{ url_for('main.user', username=post.author.username) }}">
            <img src="{{ post.author.avatar(50) }}" style="border-radius: 60px;">
        </a>
        </div>
        <div class="card-body" style="margin: 0px 10px 0px 10px">
        <a href="{{ url_for('main.user', username=post.author.username) }}">
            <h3 class="card-title">{{ post.author.username }}</h3>
        </a>
        <p class="card-text">{{ post.body }}</p>
        <p class="card-text" style="font-size: smaller;">{{moment(post.timestamp).fromNow()}}</p>
        </div>
    </div>
</div>
