{% extends 'base.html' %}

{% block app_content %}
   <div class="container">
    <div class="user-banner" style="display: flex; justify-content: left;background-color:#1DA1F2; 
    border-radius:20px; color: white; width:800px; float: left;margin: 0px 0px 10px 0px"">
        <div class="user-img" style="margin: 30px 10px 30px 10px;"> 
            <img src="{{ user.avatar(150) }}" style="border-radius: 80px">
        </div>
        <div class="user-details" style="margin: 30px 10px 30px 10px;"">
            <h1>{{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if not user == current_user %}
            {% if user.last_seen %}<p>Last Seen On: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
            {% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following </p>
                {% if user == current_user %}
                <a href="{{ url_for('main.edit_profile') }}" style="color:white">Edit</a>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('main.unfollow', username=user.username) }}", method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }}
                    </form>
                </p>
            {% endif %}
            
        </div>
    </div>
</div>
    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}

{% endblock %}
